.row-a {
	display: flex;
	flex-direction: row;
	margin-top: 190px;
	width: 1100px;
	margin-left: 170px;
	justify-content: space-between;
}

.col-a {
	display: flex;
	flex-direction: column;
}

.col-a1 {
	height: 100px;
	width: 470px;
	left: 251px;
	top: 205px;
	border-radius: nullpx;
	font-family: Inter;
	font-size: 42px;
	font-style: normal;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0px;
	text-align: left;
}

.col-a2 {
	height: 56px;
	width: 470px;
	left: 251px;
	top: 337px;
	border-radius: nullpx;
	font-family: Gilroy-SemiBold;
	font-size: 15px;
	line-height: 28px;
	letter-spacing: 0.5px;
	text-align: left;
	color: #8476aa;
	margin-top: 25px;
}

.tt {
	color: #99efd0;
	height: 100px;
	width: 470px;
	left: 251px;
	top: 205px;
	border-radius: nullpx;
	font-family: Inter;
	font-size: 42px;
	font-style: normal;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0px;
	text-align: center;
}

.tt-1 {
	color: orange;
	margin-left: 14px;
}

.col-a3 {
	height: 48px;
	width: 155px;
	left: 251px;
	top: 436px;
	border-radius: 3px;
	background: #f2994a;
	box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
	border-radius: 3px;
	margin-top: 32px;
	color: white;
}

.ttt {
	left: 281px;
	right: 1067px;
	top: 450px;
	bottom: 230px;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;

	color: #ffffff;
}
