.roww {
	height: 68.0692138671875px;
	width: 799.9443359375px;
	left: 301px;
	top: 1476px;
	border-radius: nullpx;
	font-family: Inter;
	font-size: 42px;
	font-style: normal;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0px;
	text-align: center;
	font-family: Inter;
	color: #99efd0;
}

.sub {
	color: orange;
}

.roww1 {
	margin-top: 50px;
}
.coll {
	width: 1100px;
	margin-left: 170px;
	margin-top: 60px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
